@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7T6bH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9p7TqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9qlTqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9rJTqbH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9olSabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9ocSabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9p7SabH.ttf) format('truetype');
}
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v6/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9pSSabH.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
span {
  display: inline;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.btn__line {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 35px;
  width: fit-content;
  border-radius: 20px 0;
  border: 1px solid #5BBC48;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  transition: all linear 0.2s;
  letter-spacing: 3px;
  flex-shrink: 0;
  gap: 10px;
}
.btn__line .icon {
  width: 24px;
}
.btn__line.green {
  color: #5BBC48;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn__line.green:hover {
  color: #F1F1F1;
  background-color: #5BBC48;
}
.btn__line.green:hover .icon {
  filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%);
}
.btn__line.blue {
  color: #03395D;
  border-color: #03395D;
  background-color: rgba(255, 255, 255, 0.5);
}
.btn__line.blue:hover {
  color: #F1F1F1;
  background-color: #03395D;
}
.float__whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 75px;
  height: 75px;
  background-color: #5BBC48;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 100;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 40px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 65px;
    height: 65px;
  }
  .float__whatsapp img {
    width: 40px;
  }
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes effect--fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  width: 100%;
}
.page__header .wrapper {
  max-width: 1295px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}
.page__header .wrapper .is--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page__header .wrapper .is--desktop .logo {
  width: 222px;
}
.page__header .wrapper .is--desktop .logo img {
  width: 100%;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  align-items: center;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.15s;
  color: #44702B;
  padding: 5px 10px;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #03395D;
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .page__header .wrapper {
    padding: 24px 28px;
  }
  .page__header .wrapper .logo {
    width: 140px;
  }
  .page__header .wrapper .is--mobile {
    display: block;
    flex-grow: 0;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer img {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background-image: url('../img/bg-services.png'), linear-gradient(#FF8C39, #FF5C5C);
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 12px;
    margin-bottom: 64px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #f7f7f7;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
}
.page__hero {
  background-image: url('../img/bg-hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}
.page__hero .wrapper {
  max-width: 1152px;
  padding-top: 234px;
  padding-bottom: 169px;
  margin: 0 auto;
}
.page__hero .wrapper .title {
  color: #111;
  font-size: 46px;
  font-weight: 700;
  max-width: 535px;
  margin-bottom: 12px;
}
.page__hero .wrapper .title span {
  color: #03395D;
}
.page__hero .wrapper .subtitle {
  color: #111;
  font-size: 20px;
  font-weight: 400;
  max-width: 564px;
  margin-bottom: 32px;
}
body {
  background-color: #F6FBFB;
  font-family: "Alexandria", sans serif;
  color: #111;
}
